main {
  background-color: #7C71AB;
  background-image: url('../../assets/769332_1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 40%;
  background-color: #7C71AB;
  padding: 20px;
}

h1 {
  font-family: 'Rock Salt', cursive;
  font-size: 40px;
  color: rgb(255, 255, 255);
}

p {
  margin-top: 0;
}

button {
  font-family: 'Raleway', sans-serif;
}

@media only screen and (max-width: 930px) {
  div {
    height: 30%;
    width: 200px;
  }
}

@media only screen and (max-width: 700px) {
  div {
    height: 30%;
    width: 20%;
  }
}
